<div class="mb-sm">
  <%= question.body %>
</div>

<div class="text-sm question-footer">
  <div class="text-grey">
    <%= l(question.created_at, format: :short)%>
  </div>

  <div>
    <%= link_to fa_icon('pencil'), edit_question_path(@question), title: 'Edit question' %>
    <%= button_to fa_icon('trash-o'), question_path(@question), method: :delete, title: 'Delete question' %>
  </div>
</div>
