.button{
    border: 0;
    border-radius: 3px;
    color: #F7F7F7;
    display: inline-block;
    font-size: 14px;
    padding: 8px 13px 7px;
    text-decoration: none;
}

.button-main{
    background-color: #B00100;
}
.button-yellow{
    background-color: yellow;
    color: black;
}
