body{
    background: darkslateblue;
    display: flex;
    justify-content: center;
}

.wrapper {
    max-width: 800px;
    margin: 40px;
    width: 100%;
}

.container {
    background: #F7F7F7;
    padding: 20px;
}